.navbar{
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 0px;
  background: white;
  position: sticky;
  top:0;
  z-index: 5;
}
.nav-logo{
  width:80px;
}
.admin-profile{
  display: flex;
  align-items: center;
  gap:20px;
}
.nav-profile{
  width: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signout-btn{
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  border: 1.5px solid rgb(69, 68, 68);
  cursor: pointer;
}